

 input{
    border-radius: 10px !important;
    /* border: none !important; */
    outline: none !important;
}

.forgot{
    margin-bottom: 10px;
    color: white;
    text-align: end;
    cursor: pointer;
}
.btns{
    color: white;
    background-color: rgb(0, 128, 79) !important;
    width:100% !important;
    border-radius: 25px !important;
    padding: 7px 0 !important;
    outline: none !important;
    border: none !important;
}
.new_user{
color: white;
text-align: center;

}
.sign_color{
    color: blue;
}
.forgot:hover , .sign_color:hover{
    color: red;
    cursor: pointer;
}

.login_hed{
    padding-top: 10px;
    text-align: center;
}
.a{
position: absolute;
bottom: 0;
right: 10px;
color:white;
/* background-color: rgb(155, 122, 221); */
padding: 10px;
border-radius: 10px;
}
.a>h1{
    text-align: start;
    color: blue;
}


.fff{
    color: red;
}
.ttt{
    color: green;
}





